flask
flask-sqlalchemy==2.5.1
mysqlclient  
Django==4.2.28
python-etcd==0.4.5
Django-Select2==8.2.4 
irc==16.2 
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
